<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>가비</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="navbar">
      <nav class="nav-content">
        <a href="../index.html" id="logo">
          <img src="./images/logo.png" />
        </a>

        <ul class="nav-menu">
          <li><a href="./Information.html">Information</a></li>
          <li><a href="./menu.html">Menu</a></li>
          <li><a href="./products.html">Products</a></li>
          <li><a href="./login.html">Login</a></li>
        </ul>
      </nav>
    </div>

    <div class="menus">
      <h3><b>- Espresso Menu -</b></h3>

      <div class="e-menu_list">
        <ul>
          <li class="e-menu">
            <img src="images/Espresso.png" />
            <div class="e-menu-name">Espresso</div>
          </li>

          <li class="e-menu">
            <img src="images/Americano.png" />
            <div class="e-menu-name">Americano</div>
          </li>

          <li class="e-menu">
            <img src="images/Handdrip.png" />
            <div class="e-menu-name">Handdrip</div>
          </a>

          <li class="e-menu">
            <img src="images/Latte.png" />
            <div class="e-menu-name">Latte</div>
          </li>

          <li class="e-menu">
            <img src="images/Cappuccino.png" />
            <div class="e-menu-name">Cappuccino</div>
          </li>

          <li class="e-menu">
            <img src="images/cafe_vienna.png" />
            <div class="e-menu-name">Cafe Vienna</div>
          </li>

          <li class="e-menu">
            <img src="images/Cafe_Con_Panna.png" />
            <div class="e-menu-name">Cafe Con Panna</div>
          </li>

          <li class="e-menu">
            <img src="images/caramel_Macchiato.png" />
            <div class="e-menu-name">Caramel Macchiato</div>
          </li>

          <li class="e-menu">
            <img src="images/Affogato.png" />
            <div class="e-menu-name">Affogato</div>
          </li>

          <li class="e-menu">
            <img src="images/Cafe_Mocha.png" />
            <div class="e-menu-name">Cafe Mocha</div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
