<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>가비</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="navbar">
      <nav class="nav-content">
        <a href="../index.html" id="logo">
          <img src="./images/logo.png" />
        </a>

        <ul class="nav-menu">
          <li><a href="./Information.html">Information</a></li>
          <li><a href="./menu.html">Menu</a></li>
          <li><a href="./products.html">Products</a></li>
          <li><a href="./login.html">Login</a></li>
        </ul>
      </nav>
    </div>
    <div id="readme-box">
      <div id="readme-content"></div>
    </div>

    <script>
      // README 파일의 경로
      var readmePath = "../README.md";

      // XMLHttpRequest를 사용하여 파일을 로드
      var xhr = new XMLHttpRequest();
      xhr.open("GET", readmePath, true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
          // README 파일의 내용을 가져와서 표시
          var readmeContent = xhr.responseText;
          document.getElementById("readme-content").innerHTML = readmeContent;
        }
      };
      xhr.send();
    </script>
  </body>
</html>
