<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>가비</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <bady>
    <div class="navbar">
      <nav class="nav-content">
        <a href="../index.html" id="logo">
          <img src="./images/logo.png" />
        </a>

        <ul class="nav-menu">
          <li><a href="./Information.html">Information</a></li>
          <li><a href="./menu.html">Menu</a></li>
          <li><a href="./products.html">Products</a></li>
          <li><a href="./login.html">Login</a></li>
        </ul>
      </nav>
    </div>

    <div class="menus">
      <h3><b>- Tea -</b></h3>

      <ul>
        <li class="e-menu">
          <img src="images/Black_Tea.png" />
          <div class="e-menu-name">Black Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/밀크티.png" />
          <div class="e-menu-name">Milk Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/캐모마일.png" />
          <div class="e-menu-name">Chamomile Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/루이보스.png" />
          <div class="e-menu-name">Rooibos Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/Mint_Tea.png" />
          <div class="e-menu-name">Mint Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/레몬얼그레이티.png" />
          <div class="e-menu-name">Lemon Earl Grey Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/Iced_tea(peach).png" />
          <div class="e-menu-name">Iced Tea(Peach)</div>
        </li>

        <li class="e-menu">
          <img src="images/Hibiscus_Tea.png" />
          <div class="e-menu-name">Hibiscus Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/Taro_Milk_Tea.png" />
          <div class="e-menu-name">Taro Milk Tea</div>
        </li>

        <li class="e-menu">
          <img src="images/Citrus_Tea.png" />
          <div class="e-menu-name">Citrus Tea</div>
        </li>
      </ul>
    </div>
  </bady>
</html>
