@font-face {
  src: url("../fonts/Gugi-Regular.ttf");
  font-family: "jua";
}

* {
  box-sizing: border-box;
  font-family: "jua";
}

body {
  margin: 0;
  padding: 0;
  background-color: #232327;
}

#navbar {
  padding: 0 10px;
  background-color: #2b2b31;
  overflow: hidden;
  height: 115px;
}

#logo {
  float: left;
  line-height: 40px;
}

#logo img {
  display: inline;
  vertical-align: middle;
  line-height: 120px;
}

#navbar .nav {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

#navbar .nav li {
  float: left;
  margin: 0 10px;
}

#navbar .nav li a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 40px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  position: relative;
}
/* underline effect 효과 */
#navbar .nav li a::after {
  content: "";
  background-color: white;
  width: 0;
  /* 처음 선의 위치를 보고 하려면 width: 100%; 설정하면 편함. */
  height: 2px;
  position: absolute;
  left: 50%;
  /*오른쪽에 왼쪽으로 사라지는 건  right: 0; */
  transform: translateX(-50%);
  /* 축을 이동시켜 위치를 맞춰줌(중앙 이동에 용이) */
  bottom: 0;
  transition: 0.3s;
}
/* 마우스 올리면 나오는 효과 */
#navbar .nav li a:hover::after {
  width: 100%;
}

.carousel-item {
  height: 650px;
  background-size: cover;
}

.carousel-item.item1 {
  background-image: url(../images/경복궁_근정전_전경.jpg);
  background-position: center center;
}

.carousel-item.item2 {
  background-image: url(../images/석조전.jpeg);
  background-position: center center;
}

.carousel-item.item3 {
  background-image: url(../images/정관헌.jpeg);
  background-position: center center;
}

.carousel-item.item4 {
  background-image: url(../images/창덕궁_후원.png);
  background-position: center center;
}

.menus h3 {
  text-align: center;
  color: white;
}

.e-menu_list {
  min-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.e-menu {
  display: block;
  float: left;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.e-menu-name {
  font-size: 14px;
  color: white;
  font-weight: bold;
}

.e-menu img {
  width: 225px;
  height: 225px;
}

.product_list ul li {
  display: table;
  float: left;
}

.product_list ul li .img {
  position: relative;
  border: solid 2px #232327;
}

.product_list ul li .img img {
  bottom: 0;
  left: 50%;
}

.login_logo {
  margin-top: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.login_logo img {
  width: 200px;
  height: 130px;
  vertical-align: middle;
}

.login-form {
  background-color: #232327;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.text-field {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border-style: ridge;
  border-radius: 5px;
  color: black;
}

.loginfo {
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
}

#submit-btn {
  font-size: 14px;
  background-color: #999699;
  color: black;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  font-size: 12px;
  color: white;
}
