@font-face {
  src: url("../fonts/Gugi-Regular.ttf");
  font-family: "jua";
}

* {
  box-sizing: border-box;
  font-family: "jua";
}

body {
  margin: 0;
  background-color: white;
}

.navbar {
  padding: 0 10px;
  background-color: white;
  overflow: hidden;
  height: 115px;
}

.carousel-item {
  height: 650px;
  background-size: cover;
}
.carousel-item.item1 {
  background-image: url(../images/경복궁_근정전_전경.jpg);
  background-position: center center;
}
.carousel-item.item2 {
  background-image: url(../images/석조전.jpeg);
  background-position: center center;
}
.carousel-item.item3 {
  background-image: url(../images/정관헌.jpeg);
  background-position: center center;
}

#logo {
  float: left;
  line-height: 40px;
}

#logo img {
  display: inline;
  vertical-align: middle;
  line-height: 120px;
}

#menu {
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
}

#menu li {
  float: left;
}

#menu li a {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 120px;
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.products h3 {
  text-align: center;
}

.product_list {
  min-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.product {
  display: block;
  float: left;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.product-name {
  font-size: 14px;
  font-weight: bold;
}

.product img {
  width: 225px;
  height: 225px;
}

.login_logo {
  margin-top: 100px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.login_logo img {
  width: 200px;
  height: 130px;
  vertical-align: middle;
}

.login-form {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.text-field {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border-style: ridge;
  border-radius: 5px;
  color: black;
}

.loginfo {
  font-size: 14px;
  margin-bottom: 5px;
  color: black;
}

#submit-btn {
  font-size: 14px;
  background-color: #999699;
  color: black;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
}

.links {
  text-align: center;
  margin-top: 20px;
}

.links a {
  font-size: 12px;
  color: black;
}

#back_body {
  background-image: none;
}
